:root {
  --light: white;
  --dark: black;
  --pink: #d61355;
  --orange: #f94a29;
  --yellow: #fce22a;
  --blue: #4dfffc;
  --blue2: #179593c7;
  font-size: 16px;
}

body {
  background-color: var(--pink);
  background: linear-gradient(var(--pink), var(--blue2));

  font-family: "Oswald", sans-serif;
  margin: 2%;
}
header {
  font-family: "Caveat", cursive;
  display: flex;
  justify-content: space-between;
  color: var(--blue);
  border: var(--blue) ridge 5px;
  border-radius: 10pt;
  background: linear-gradient(var(--orange), var(--yellow));
  box-shadow: var(--blue);
  text-shadow: rgb(0, 0, 0) 10px 5px 20px;
}

header h1 {
  margin-left: 2%;
  font-size: 50px;
}

nav {
  font-size: 30px;
  display: flex;
  max-width: 70%;
  margin-right: 25px;
}
main {
  display: flex;
}
.nav-op {
  align-self: center;
  margin-left: 25px;
  margin-right: 25px;
  text-decoration: none;
  font-weight: 900;
  color: var(--blue);
  padding: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-right: 15px;
  padding-left: 10px;
  text-shadow: var(--dark);
}

.nav-op:hover {
  color: white;
  font-size: larger;
  max-height: 30%;
  max-width: 40%;
  border-radius: 10px;
  margin-bottom: 0px;
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  box-shadow: var(--blue);
  text-shadow: var(--blue2) 10px 10px 10px;
}

.about {
  margin-top: 30px;
  text-align: center;
  background: linear-gradient(var(--yellow), var(--orange));
  border: var(--blue) ridge 5px;
  border-radius: 5px;
  color: var(--blue);
  padding-left: 2%;
  padding-right: 2%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  box-shadow: black 10px 10px 50px;
}
.abt-card {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
}

#abt-card-pic {
  max-width: 30%;
  height: auto;
  border: 3px dashed var(--blue);
  box-shadow: var(--dark) 10px 10px 50px;
  border-radius: 50%;
  margin-top: 0%;
  margin-bottom: 4%;
}
#abt-card-bio {
  max-width: 33%;
  max-height: 40%;
  /* border: 3px solid var(--blue);
  border-radius: 10px;
  box-shadow: var(--dark) 10px 10px 50px; */
  height: auto;
  padding: 15px;
  margin-top: 2%;
  margin-bottom: 2%;
  /* background-color: var(--light); */
  color: var(--blue);
  text-shadow: var(--dark) 0px 15px 20px;
}

h2 {
  font-family: "Caveat", cursive;
  font-size: 50px;
  margin-bottom: 0%;
  text-decoration: var(--blue) underline overline 3px;
  text-shadow: var(--dark) 7px 7px 20px;
  text-underline-offset: 15px;
}

.about p {
  font-size: 20px;
  text-justify: distribute;
  align-self: center;
}

.content {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(var(--orange), var(--yellow));
  border: var(--blue) ridge 5px;
  border-radius: 5px;
  color: var(--blue);
  /* padding-left: 2%;
  padding-right: 2%; */
  box-shadow: black 5px 5px 10px;
}

.small-cards-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.small-card {
  margin: 1%;
  align-items: center;
  color: var(--blue);
  width: 46.5%;
}

.card {
  margin-top: 3%;
  position: relative;
  width: 95%;
}

/* Image sliding overlay and transparency code partly from w3 schools */
/* https://www.w3schools.com/css/tryit.asp?filename=trycss_css_image_overlay_slideright */
.image {
  width: 100%;
  height: auto;
  border: dashed var(--blue) 0.33rem;
  border-radius: 10px;
  transition: 0.5s ease;
  backface-visibility: hidden;
  opacity: 0.8;
}
.image-small {
  width: 100%;
  height: 100%;
  border: dashed var(--blue) 0.33rem;
  border-radius: 10px;
  transition: 0.5s ease;
  backface-visibility: hidden;
  opacity: 0.8;
}
.overlay {
  position: absolute;
  bottom: 10%;
  left: 0%;
  right: 0%;
  background-color: var(--blue);
  overflow: hidden;
  width: 30%;
  height: 15%;
  transition: 0.5s ease;
}
.overlay-small {
  position: relative;
  bottom: 30%;
  left: 0%;
  right: 0%;
  background-color: var(--blue);
  overflow: hidden;
  width: 30%;
  height: 20%;
  transition: 0.5s ease;
}
.card:hover .overlay {
  width: 40%;
  left: 0;
  opacity: 1;
}
.small-card:hover .overlay-small {
  width: 40%;
  left: 0;
  opacity: 1;
}
.card:hover .image {
  border: solid var(--blue) 0.33rem;
  opacity: 1;
}
.small-card:hover .image-small {
  border: solid var(--blue) 0.33rem;
  opacity: 1;
}

.text {
  white-space: nowrap;
  color: var(--pink);
  font-size: 1.5rem;
  position: absolute;
  overflow: hidden;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transition: 0.5s ease;
}
.text2 {
  white-space: nowrap;
  color: var(--orange);
  font-size: 1rem;
  position: absolute;
  overflow: hidden;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transition: 0.5s ease;
}
.card:hover .text {
  font-size: 2rem;
  top: 35%;
}
.card:hover .text2 {
  font-size: 1.5rem;
  top: 70%;
}

.image .small {
  width: 50%;
  height: 20%;
}
.contact {
  margin-top: 50px;
  text-align: center;
  background: linear-gradient(var(--yellow), var(--orange));
  border: var(--blue) ridge 5px;
  border-radius: 5px;
  color: var(--blue);
  padding-left: 2%;
  padding-right: 2%;
  box-shadow: black 5px 5px 10px;
}

.contact a {
  text-decoration: underline;
  color: var(--blue);
}

ul {
  display: flex;
}

li {
  list-style: none;
  width: 100%;
  justify-content: space-evenly;
}

#card1 {
  width: 1000px;
  /* background-image: url("./images/Horiseon\ Refractor.png");
  background-repeat: no-repeat;
  background-size: 80% auto; */
  border: var(--blue) solid 3px;
}

.gfg {
  margin: 3%;
  position: relative;
}

.first-txt {
  background-color: var(--pink);
  border: #4dfffc;
  position: absolute;
  left: 20px;
}

.second-txt {
  position: absolute;
  top: -50px;
  left: 150px;
}
